/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 80px 160px;

  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.hero-left,
.hero-right {
  position: relative;
  z-index: 2;
}

.mouse-glow {
  position: absolute;

  width: 600px;
  height: 600px;

  left: 50%;
  top: 50%;

  background: radial-gradient(circle,
      rgba(47, 94, 47, 0.25) 0%,
      rgba(47, 94, 47, 0.12) 35%,
      rgba(47, 94, 47, 0.04) 55%,
      transparent 75%);

  filter: blur(40px);

  border-radius: 50%;

  pointer-events: none;

  transform: translate(-50%, -50%);

  z-index: 1;

  transition:
    left 0.08s linear,
    top 0.08s linear;
}

/* Left */
.hero-left {
  max-width: 600px;
}

.badge {
  display: inline-block;

  background-color: #e6f0e6;
  color: #2f5e2f;

  padding: 10px 18px;
  border-radius: 100px;

  font-size: 14px;
  margin-bottom: 24px;
}

.hero-left h1 {
  font-size: 64px;
  font-weight: 700;

  line-height: 1.05;
  letter-spacing: -2px;

  max-width: 700px;

  margin-bottom: 32px;

  color: #17201c;
}

.hero-left h1 span {
  color: #2f5e2f;
}

.hero-left p {
  font-size: 18px;

  line-height: 1.8;

  color: #5f6662;

  max-width: 680px;

  margin-bottom: 32px;
}

.hero-features {
  display: flex;
  gap: 16px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;

  background: rgba(47, 94, 47, 0.12);

  border: 1px solid rgba(47, 94, 47, 0.18);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 100px;

  color: #2f5e2f;
  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 4px 12px rgba(47, 94, 47, 0.08);
}

/* Right */
.calculator-card {
  width: 430px;

  background-color: white;

  padding: 36px;
  border-radius: 24px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.calculator-card h3 {
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 32px;
}

.calculator-card label {
  display: block;

  font-size: 14px;
  font-weight: 500;

  margin-bottom: 10px;

  color: #555;
}

.calculator-card select,
.calculator-card input {
  width: 100%;

  padding: 14px 16px;

  margin-bottom: 16px;

  border-radius: 14px;
  border: 1px solid #e2e2e2;

  font-size: 14px;

  outline: none;
}

.calculator-card select:focus,
.calculator-card input:focus {
  border-color: #2f5e2f;
}

.input-group {
  display: flex;
  gap: 16px;
}

.calculate-btn {
  width: 100%;

  padding: 16px;

  background-color: #2f5e2f;
  color: white;

  border: none;
  border-radius: 14px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.calculate-btn:hover {
  background-color: #244824;
}
